In [3]:
import pandas as pd   
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

4.	Using the pandas `read_csv()` method.
Read the GDP dataset into your notebook as a DataFrame called `gdp_df`.
Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [4]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')

In [7]:
gdp_df

,Country or Area,Subgroup,Year,Source,Unit,Value,Value Footnotes,Value Footnotes.1
0,Albania,Total,1990-2011,UN_World Bank,Percent,5.3,NaN,NaN
1,Albania,Total,1970-1990,UN_World Bank,Percent,-0.7,1.0,1.0
2,Algeria,Total,1990-2011,UN_World Bank,Percent,1.5,NaN,NaN
3,Algeria,Total,1970-1990,UN_World Bank,Percent,1.6,NaN,NaN
4,Andorra,Total,1990-2011,UN_World Bank,Percent,2.5,1.0,1.0
...,...,...,...,...,...,...,...,...
342,Zimbabwe,Total,1970-1990,UN_World Bank,Percent,-0.4,NaN,NaN
343,fnSeqID,Footnote,NaN,NaN,NaN,NaN,NaN,NaN
344,1,Data refer to years or periods other than thos...,NaN,NaN,NaN,NaN,NaN,NaN
345,2,For a complete list of countries and territori...,NaN,NaN,NaN,NaN,NaN,NaN
346,3,Due to the cession in July 2011 of the Republi...,NaN,NaN,NaN,NaN,NaN,NaN

5. How many rows and columns are in `gdp_df`?  347 rows.
What are the data types of each column? answer below.

In [11]:
print(gdp_df.dtypes)

Country or Area       object
Subgroup              object
Year                  object
Source                object
Unit                  object
Value                float64
Value Footnotes      float64
Value Footnotes.1    float64
dtype: object

6. Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.